#app-entry {
    height: 96vh;
    width: 96vw;
}

#controls {
    height: 20%;
    width: 100%;
}

#plots {
    height: 80%;
    width: 100%;
}

#projection {
    height: 100%;
    width: 50%;
}

#histograms {
    height: 100%;
    width: 50%;
    overflow-y: scroll;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.column {
    flex-direction: column;
}

.dropdown {
    height: 100%;
    width: 15%;
}

.slider {
    height: 100%;
    width: 40%;
}

.dcc-slider-cludge {
    margin-left: -18px;
}